<footer class="gh-footer{% if design.header_and_footer_color == "Accent color" %} has-accent-color{% endif %} gh-outer">
    <div class="gh-footer-inner gh-inner">

        <div class="gh-footer-bar">
            <span class="gh-footer-logo is-title">
                {% if design.logo %}
                    <img src="{{ design.logo | safe }}" alt="{{ config.title }}">
                {% else %}
                    {{ config.title }}
                {% endif %}
            </span>
            <nav class="gh-footer-menu">
                {% if config.extra.navigation_secondary %}
            {{ nav::navigation(data=config.extra.navigation_secondary, type="secondary") }}
            {% endif %}
            </nav>
            <div class="gh-footer-copyright">
                Powered by <a href="https://www.getzola.org/" target="_blank" rel="noopener">Zola</a> Published with <a href="https://github.com/sveltia/sveltia-cms" target="_blank" rel="noopener">Sveltia CMS</a>
            </div>
        </div>

        
    </div>
</footer>
