<section class="gh-header is-{% if design.header_style == "Magazine" %}magazine{% elif design.header_style == "Highlight" %}highlight{% endif %} gh-outer">

    

    <div class="gh-header-inner gh-inner">

        {# Highlight layout #}
        {% if design.header_style == "Highlight" %}
            <div class="gh-header-left">
                {% for page in posts.pages | slice(end=1) %}
                    {{ pc::post_card(posts=page, imageSizes="(max-width: 767px) calc(100vw - max(8vmin, 40px)), 640px", lazyLoad=false) }}
                {% endfor %}
            </div>
            <div class="gh-header-middle">
                {% for page in posts.pages | slice(start=1, end=4) %}
                    {{ pc::post_card(posts=page) }}
                {% endfor %}
            </div>
            <div class="gh-header-right">
                {% if design.show_featured_posts %}
                    {% include "partials/components/featured.html" %}
                {% else %}
                    <div class="gh-featured-feed">
                        {% for page in posts.pages | slice(start=4, end=10) %}
                            {{ pc::post_card(posts=page, imageSizes="80px") }}
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        {% endif %}

        {# Magazine layout #}
        {% if design.header_style == "Magazine" %}
            {% for page in posts.pages | slice(end=7) %}
                {% if loop.index == 2 %}
                    <div class="gh-header-left">
                {% endif %}
                {% if loop.index == 5 %}
                    <div class="gh-header-right">
                {% endif %}
                {% if loop.first %}
                    {{ pc::post_card(posts=page, imageSizes="640px") }}
                {% else %}
                    {{ pc::post_card(posts=page) }}
                {% endif %}
                {% if loop.index == 4 %}
                    </div>
                {% endif %}
                {% if loop.index == 7 %}
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}

        

    </div>

</section>